<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Bundler</string>
	<key>uuid</key>
	<string>D9A8CFB8-7AFA-4085-B6CB-315606521E92</string>
</dict>
</plist>
